<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Adam Lee Gottfried experinced carpenter, custom design woodworker, and residential/commercial construction builder. My expertise takes your project from rough to finish.
</p>
