<% provide(:title, "") %>
<h1>Contact</h1>
<p>
	Please contact me at 718.219.1702 or my <a href="https://www.facebook.com/pages/Nailed-It-Custom-Designs/550307031796966?pnref=lhc">Facebook</a> page, and lets get started on your next project from rough to finish.
</p>