<div class="center jumbotron">
	<h1>Nailed It Custom Designs</h1>

	<h4>'from rough to finish' <i>--Adam Lee Gottfried</i></h4>
		<!-- <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> --> 
		<!-- portfolio sample application by Charlie Brown. -->
	
	<%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %>
</div>
