<!-- <div class="bgimg">
	<%= image_tag("AdobeStock_102551199.jpeg", :alt => "landingpage") %>
  <div class="nailed-it">
	 <h1><%= link_to "Nailed It", home_path, class: "center" %></h1>
  </div>
</div>
 -->

 <html>
  <head>
  <title>Nailed It</title>
  </head>
  <body>
    <div class='bgimg'>
      <div style="text-align:center">
      <h1>Nailed It Custom Design Inc.</h1></div><br>
          <h3 style="text-align:center; color: white; font-family: Times">"from rough to finish" --Adam Lee Gottfried</h3>
      </div>
    </div>
  </body>
</html>
