<h1>Charlie Brown Binary Space</h1>
<br><br>
<h3>
Welcome to my portfolio website. This site has been in creation for several years.
A lot of my work has never had the chance to make it online, and now that has all come to an end.
I will shortly in the coming few days showcase my work, ideas, and thoughts about web development in general.
I will go into detail on many subjects on how I got to this point. As you know web development is not easy,
but it sure is fun. I have gone from nerver racking frustration to absolute bliss when something finally works.
Like getting this webpage for instance. 
<br>
For sure this is a very bland, boring, dull, and barebones webpage. I'm trying to show you how I go from this really easy page to some pretty dynamic cool stuff. Think of like a super A and B comparison. From simple HTML to Fullstack Web Development using my favorite tool Ruby on Rails. I will showcase my JS work and be using React.js Facebooks creation and really hot super trendy tool. <br><br>

At this point all I can say is <h1>WATCH</h1>
</h3>

<br>

<h2>Well I hope to have something more substantial tomorrow but I must tell you, you will be please to see whats in store!</h2>

<br>

<h1>I want to give a special thanks to my mother Gloria Brown. My mom has made my dreams possible. I love you mom!</h1>

<h1>*******************************************GAME ON MAMA!****************************************</h1>
<h3>Mama your the only one who know about this site right now!</h3>

