<h1>Charlie Brown Binary Space</h1>

<br><br>

<h3>
Welcome to my portfolio website. This site has been in creation for several years.
A lot of my work has never had the chance to make it online, and now that has all come to an end.
I will shortly in the coming few days showcase my work, ideas, and thoughts about web development in general.
I will go into detail on many subjects on how I got to this point. As you know web development is not easy,
but it sure is fun. I have gone from nerve racking frustration to absolute bliss when something finally works.
Like getting this webpage up for instance using Ruby on Rails and establishing a local server, staging enviroment, and production environment
to evaluate my work along the way in different phases. 
</h3>

<br>

<h3>
The web is not the same anymore. I remember when my mom bought us our first Macintosh Quadra 950. I'll double check that but I'm pretty sure that's
what it was. Regardless it was 1995 and I attempted to buidl my first web page. I failed, but I never gave up. Over the years as I dabbled in many
IT jobs. I always came back to website building, trying to build websites especially my very own website. The technolgies always changed requiring me to go back to the drawing board and relearn web development again. But now things have really really changed. But now since I've had my hands on almost every IT job, I can't help but to say "I'm in on the web dev thing now, for the long term." I came back to web dev and it was hard. It was ver hard. I stuck to it, and I'm making progress everyday. This is the place to be to see my work, right here charliebrownbinary.space
</h3>

<br>

<h3>
For sure this is a very bland, boring, dull, and barebones webpage. I'm trying to show you how I go from this really easy page to some pretty dynamic cool stuff. Think of like a super A and B comparison. From simple HTML to Fullstack Web Development using my favorite tool Ruby on Rails. I will showcase my JS work and be using React.js Facebooks creation and really hot super trendy tool. 
</h3>

<br><br>

<h3>
At this point all I can say is <h1>WATCH</h1>
</h3>

<br>

<h2>Well I hope to have something more substantial tomorrow but I must tell you, you will be please to see whats in store!</h2>


<h1>I want to give a special thanks to my mother Gloria Brown. My mom has made my dreams possible. I love you mom!</h1>


<h1>*******************************************GAME ON MAMA!****************************************</h1>

<br>

<h3>Mama your the only one who knows about this site right now!</h3>

