<h1>Charlie Brown Binary Space</h1>
<br><br>
<p>
Welcome to my portfolio website. This site has been in creation for several years.
A lot of my work has never had the chance to make it online, and now that has all come to an end.
I will shortly in the coming few days showcase my work, ideas, and thoughts about web development in general.
I will go into detail on many subjects on how I got to this point. As you know web development is not easy.
But it sure is fun. I have gone from nerver racking frustration to absolute bliss when something finally works.
Like getting this webpage for instance. 

<br>

Well I hope to have something more substantial tomorrow but I must tell you, you will be please to see whats in store!

<br>

<h1>I want to give a special thanks to my mother Gloria Brown. My mom has made my dreams possible. I love you mom</h1>

