<footer class="footer">
  <small>
    <!-- The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial Portfolio Sample App</a>
    by <a href="http://www.michaelhartl.com/">Charlie Brown</a> -->
    Nailed It Custom Designs Inc. &copy; 2016 Yonkers, NY USA
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://thewoodworkersnews.com/">Wood Worker News</a></li>
    </ul>
  </nav>
</footer>